<div class="container">
  <mat-card>
    <mat-card-title>Registrar</mat-card-title>
    <mat-card-subtitle>Faça seu registro</mat-card-subtitle>
    <mat-card-content>
      <div class="form-container">
        <mat-form-field appearance="standard">
          <mat-label>Seu nome</mat-label>
          <input
            matInput
            placeholder="João da Silva"
            [formControl]="name"
            required
          />
          <mat-error *ngIf="name.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="standard">
          <mat-label>Seu email</mat-label>
          <input
            matInput
            placeholder="eu@email.com"
            [formControl]="email"
            required
          />
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="standard">
          <mat-label>Sua senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button>Registrar</button>
    </mat-card-actions>
  </mat-card>
</div>
